In [1]:
import aqdatac
aqdatac.login('huangchunyang', password='20020308hd')

In [2]:
aqdatac.current_session()

aqdatac: version 0.2.3
current user: huangchunyang
current session expires at: 2024-07-25 21:07:16

In [3]:
aqdatac.accessible_tables()

{'aindexcsi500weight': ['*'],
 'aindexhs300closeweight': ['*'],
 'aindexhs300freeweight': ['*'],
 'ashareeodprices': ['2009-01-01, 2019-12-31'],
 'cftick': ['2019-01-01,2019-07-01'],
 'cfuturescalendar': ['*'],
 'chinaetfpchredmlist': ['*'],
 'chinaetfpchredmmembers': ['*'],
 'csbar_1d': ['2009-01-01, 2019-12-31'],
 'csbar_30m': ['2015-01-01, 2019-12-31'],
 'csdate': ['*'],
 'csinfo': ['*'],
 'csord': ['2019-01-01,2019-07-01'],
 'cstick': ['2019-01-01,2019-07-01'],
 'cstra': ['2019-01-01,2019-07-01']}

In [4]:
df = aqdatac.get_data("csinfo",row_filter="producttype='a'")

In [5]:
df = df[df['status'] == 'active']

In [6]:
df

,sym,name,producttype,status,listeddate,delisteddate,issue_price
0,000001.SZ,平安银行,a,active,1991-04-03,<NA>,40.0
1,000002.SZ,万科A,a,active,1991-01-29,<NA>,1.0
3,000004.SZ,国华网安,a,active,1990-12-01,<NA>,1.0
4,000005.SZ,ST星源,a,active,1990-12-10,<NA>,10.0
5,000006.SZ,深振业A,a,active,1992-04-27,<NA>,10.0
...,...,...,...,...,...,...,...
5353,688799.SH,华纳药厂,a,active,2021-07-13,<NA>,30.82
5354,688800.SH,瑞可达,a,active,2021-07-22,<NA>,15.02
5355,688819.SH,天能股份,a,active,2021-01-18,<NA>,41.79
5356,688981.SH,中芯国际,a,active,2020-07-16,<NA>,27.46
5357,689009.SH,九号公司,a,active,2020-10-29,<NA>,18.94

In [7]:
import pandas as pd
start_date_str, end_date_str = "2019-01-01", "2019-05-01"
start_date, end_date = pd.to_datetime(start_date_str), pd.to_datetime(end_date_str)
sym_list = df['sym'].tolist()
type(sym_list)

list

In [8]:
df_1d = aqdatac.get_data("csbar_1d", start_date, end_date, sym_list)

In [9]:
df_1d

,date,sym,prevclose,open,high,low,close,volume,turnover,tradecount,af,upperlimit,lowerlimit,ttlshr,fltshr,frshr
0,2019-01-02,000001.SZ,9.38,9.39,9.42,9.16,9.19,53938632.0,498695109.0,25140.0,108.031388,10.32,8.44,17170411366.0,17170246773.000002,7610290923.0
1,2019-01-02,000002.SZ,23.82,23.83,24.09,23.67,23.9,24701028.0,589384596.0,26541.0,142.667998,26.2,21.44,11039152001.0,9715170043.0,5546288780.0
2,2019-01-02,000004.SZ,16.03,16.05,16.24,16.01,16.06,142400.0,2290041.0,241.0,4.063862,17.63,14.43,83976684.0,82933609.0,50659161.0
3,2019-01-02,000005.SZ,2.68,2.69,2.7,2.66,2.67,2909600.0,7788443.0,1187.0,9.267603,2.95,2.41,1058536842.0,1057946242.0,825760487.0
4,2019-01-02,000006.SZ,5.18,5.18,5.25,5.1,5.15,6322964.0,32733636.0,2643.0,34.22615,5.7,4.66,1349995046.0,1347786178.0,862937030.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273071,2019-04-30,603991.SH,20.44,20.44,21.03,20.11,20.78,681690.0,14058426.0,1276.0,1.004439,22.48,18.4,74534998.0,41078918.0,24558995.0
273072,2019-04-30,603993.SH,4.17,4.15,4.25,4.12,4.21,69401815.0,291769895.0,23854.0,3.269446,4.59,3.75,21599240583.0,17665772583.0,7002772182.999999
273073,2019-04-30,603997.SH,9.03,9.03,9.8,8.86,9.65,5556826.0,52964769.0,7385.0,1.568806,9.93,8.13,639413200.0,630000000.0,150678503.0
273074,2019-04-30,603998.SH,9.88,9.84,10.3,9.84,10.01,22750376.0,228858699.0,16993.0,3.93414,10.87,8.89,436622720.0,425196720.0,379402445.0
273075,2019-04-30,603999.SH,6.0,6.0,6.12,5.96,6.09,3431353.0,20766182.0,2669.0,2.435526,6.6,5.4,576000000.0,576000000.0,242854056.0

In [10]:
df_1d_trade = df_1d[df_1d['volume']!=0]
df_1d_trade

,date,sym,prevclose,open,high,low,close,volume,turnover,tradecount,af,upperlimit,lowerlimit,ttlshr,fltshr,frshr
0,2019-01-02,000001.SZ,9.38,9.39,9.42,9.16,9.19,53938632.0,498695109.0,25140.0,108.031388,10.32,8.44,17170411366.0,17170246773.000002,7610290923.0
1,2019-01-02,000002.SZ,23.82,23.83,24.09,23.67,23.9,24701028.0,589384596.0,26541.0,142.667998,26.2,21.44,11039152001.0,9715170043.0,5546288780.0
2,2019-01-02,000004.SZ,16.03,16.05,16.24,16.01,16.06,142400.0,2290041.0,241.0,4.063862,17.63,14.43,83976684.0,82933609.0,50659161.0
3,2019-01-02,000005.SZ,2.68,2.69,2.7,2.66,2.67,2909600.0,7788443.0,1187.0,9.267603,2.95,2.41,1058536842.0,1057946242.0,825760487.0
4,2019-01-02,000006.SZ,5.18,5.18,5.25,5.1,5.15,6322964.0,32733636.0,2643.0,34.22615,5.7,4.66,1349995046.0,1347786178.0,862937030.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273071,2019-04-30,603991.SH,20.44,20.44,21.03,20.11,20.78,681690.0,14058426.0,1276.0,1.004439,22.48,18.4,74534998.0,41078918.0,24558995.0
273072,2019-04-30,603993.SH,4.17,4.15,4.25,4.12,4.21,69401815.0,291769895.0,23854.0,3.269446,4.59,3.75,21599240583.0,17665772583.0,7002772182.999999
273073,2019-04-30,603997.SH,9.03,9.03,9.8,8.86,9.65,5556826.0,52964769.0,7385.0,1.568806,9.93,8.13,639413200.0,630000000.0,150678503.0
273074,2019-04-30,603998.SH,9.88,9.84,10.3,9.84,10.01,22750376.0,228858699.0,16993.0,3.93414,10.87,8.89,436622720.0,425196720.0,379402445.0
273075,2019-04-30,603999.SH,6.0,6.0,6.12,5.96,6.09,3431353.0,20766182.0,2669.0,2.435526,6.6,5.4,576000000.0,576000000.0,242854056.0

In [11]:
sym_list_top100 = df_1d_trade[['sym', 'volume']].groupby('sym').mean().nlargest(100, 'volume').index

In [12]:
sym_list_top100

Index(['000725.SZ', '600157.SH', '600010.SH', '601099.SH', '601288.SH',
       '000100.SZ', '601398.SH', '002131.SZ', '600050.SH', '300059.SZ',
       '600030.SH', '601668.SH', '002027.SZ', '000750.SZ', '002195.SZ',
       '601899.SH', '601989.SH', '601988.SH', '002600.SZ', '000563.SZ',
       '000413.SZ', '600518.SH', '603993.SH', '600028.SH', '000727.SZ',
       '600635.SH', '600604.SH', '002797.SZ', '600837.SH', '000723.SZ',
       '601319.SH', '600352.SH', '000063.SZ', '600221.SH', '600022.SH',
       '002610.SZ', '000839.SZ', '002217.SZ', '300017.SZ', '601975.SH',
       '601939.SH', '000536.SZ', '600016.SH', '300116.SZ', '000630.SZ',
       '002547.SZ', '601377.SH', '000629.SZ', '601818.SH', '000166.SZ',
       '600572.SH', '600166.SH', '601108.SH', '002456.SZ', '601328.SH',
       '601618.SH', '000001.SZ', '601186.SH', '601162.SH', '600816.SH',
       '000425.SZ', '002002.SZ', '600226.SH', '600031.SH', '600048.SH',
       '601598.SH', '000735.SZ', '002252.SZ', '601600.SH', '600219.SH',
       '601216.SH', '002210.SZ', '600369.SH', '600776.SH', '600777.SH',
       '000592.SZ', '600705.SH', '600928.SH', '000066.SZ', '600568.SH',
       '600460.SH', '300079.SZ', '600703.SH', '601688.SH', '601766.SH',
       '601700.SH', '000981.SZ', '601390.SH', '601857.SH', '002958.SZ',
       '000683.SZ', '600839.SH', '601166.SH', '600525.SH', '601860.SH',
       '000793.SZ', '601298.SH', '002340.SZ', '600795.SH', '002665.SZ'],
      dtype='string[pyarrow]', name='sym')

In [18]:
df_train = df_1d_trade[df_1d_trade['sym'].isin(sym_list_top100)]
df_train['date'] = pd.to_datetime(df_train['date'])
df_train

/tmp/ipykernel_9193/2542119992.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['date'] = pd.to_datetime(df_train['date'])

,date,sym,prevclose,open,high,low,close,volume,turnover,tradecount,af,upperlimit,lowerlimit,ttlshr,fltshr,frshr
0,2019-01-02,000001.SZ,9.38,9.39,9.42,9.16,9.19,53938632.0,498695109.0,25140.0,108.031388,10.32,8.44,17170411366.0,17170246773.000002,7610290923.0
45,2019-01-02,000063.SZ,19.59,19.6,20.06,19.4,19.56,64968272.0,1280972083.0,59591.0,15.787475,21.55,17.63,4192671843.0,3433568341.0,2163738008.0
47,2019-01-02,000066.SZ,4.74,4.77,4.78,4.7,4.71,10054828.0,47537050.0,4761.0,10.756783,5.21,4.27,2936165560.0,2490717309.0,1723768877.0
57,2019-01-02,000100.SZ,2.45,2.46,2.53,2.45,2.51,89051427.0,222807637.0,15118.0,3.016227,2.7,2.21,13549648507.0,11723995216.0,9822696439.0
65,2019-01-02,000166.SZ,4.07,4.09,4.09,4.02,4.04,24005315.0,97250500.0,8596.0,1.414308,4.48,3.66,22535944560.0,20028119193.0,6002004945.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272597,2019-04-30,601939.SH,7.41,7.35,7.47,7.33,7.44,112930803.0,836065696.0,27697.0,1.693219,8.15,6.67,250010977486.0,9593657606.0,8901075830.0
272605,2019-04-30,601975.SH,3.5,3.5,3.6,3.45,3.54,95074428.0,335068788.0,26289.0,1.0,3.85,3.15,5023400024.0,1898551957.0,1898551957.0
272607,2019-04-30,601988.SH,3.89,3.89,3.9,3.85,3.89,120255837.0,466137513.0,20197.0,1.722526,4.28,3.5,294387791241.0,210765514846.0,20493956739.0
272608,2019-04-30,601989.SH,5.53,5.53,5.73,5.51,5.67,119547707.0,673595596.0,39529.0,1.682268,6.08,4.98,22879793243.0,18361665066.0,8561075448.0
273072,2019-04-30,603993.SH,4.17,4.15,4.25,4.12,4.21,69401815.0,291769895.0,23854.0,3.269446,4.59,3.75,21599240583.0,17665772583.0,7002772182.999999

In [19]:
df_train['date'][0]

Timestamp('2019-01-02 00:00:00')

In [21]:
trade_days = aqdatac.get_data("csdate",start_date, end_date)

In [22]:
trade_days = trade_days['date']

In [25]:
trade_days = pd.to_datetime(trade_days)

In [26]:
prev_day_dict = {day: trade_days[trade_days < day].max() for day in trade_days}
prev_day_dict

{Timestamp('2019-01-02 00:00:00'): NaT,
 Timestamp('2019-01-03 00:00:00'): Timestamp('2019-01-02 00:00:00'),
 Timestamp('2019-01-04 00:00:00'): Timestamp('2019-01-03 00:00:00'),
 Timestamp('2019-01-07 00:00:00'): Timestamp('2019-01-04 00:00:00'),
 Timestamp('2019-01-08 00:00:00'): Timestamp('2019-01-07 00:00:00'),
 Timestamp('2019-01-09 00:00:00'): Timestamp('2019-01-08 00:00:00'),
 Timestamp('2019-01-10 00:00:00'): Timestamp('2019-01-09 00:00:00'),
 Timestamp('2019-01-11 00:00:00'): Timestamp('2019-01-10 00:00:00'),
 Timestamp('2019-01-14 00:00:00'): Timestamp('2019-01-11 00:00:00'),
 Timestamp('2019-01-15 00:00:00'): Timestamp('2019-01-14 00:00:00'),
 Timestamp('2019-01-16 00:00:00'): Timestamp('2019-01-15 00:00:00'),
 Timestamp('2019-01-17 00:00:00'): Timestamp('2019-01-16 00:00:00'),
 Timestamp('2019-01-18 00:00:00'): Timestamp('2019-01-17 00:00:00'),
 Timestamp('2019-01-21 00:00:00'): Timestamp('2019-01-18 00:00:00'),
 Timestamp('2019-01-22 00:00:00'): Timestamp('2019-01-21 00:00:00'),
 Timestamp('2019-01-23 00:00:00'): Timestamp('2019-01-22 00:00:00'),
 Timestamp('2019-01-24 00:00:00'): Timestamp('2019-01-23 00:00:00'),
 Timestamp('2019-01-25 00:00:00'): Timestamp('2019-01-24 00:00:00'),
 Timestamp('2019-01-28 00:00:00'): Timestamp('2019-01-25 00:00:00'),
 Timestamp('2019-01-29 00:00:00'): Timestamp('2019-01-28 00:00:00'),
 Timestamp('2019-01-30 00:00:00'): Timestamp('2019-01-29 00:00:00'),
 Timestamp('2019-01-31 00:00:00'): Timestamp('2019-01-30 00:00:00'),
 Timestamp('2019-02-01 00:00:00'): Timestamp('2019-01-31 00:00:00'),
 Timestamp('2019-02-11 00:00:00'): Timestamp('2019-02-01 00:00:00'),
 Timestamp('2019-02-12 00:00:00'): Timestamp('2019-02-11 00:00:00'),
 Timestamp('2019-02-13 00:00:00'): Timestamp('2019-02-12 00:00:00'),
 Timestamp('2019-02-14 00:00:00'): Timestamp('2019-02-13 00:00:00'),
 Timestamp('2019-02-15 00:00:00'): Timestamp('2019-02-14 00:00:00'),
 Timestamp('2019-02-18 00:00:00'): Timestamp('2019-02-15 00:00:00'),
 Timestamp('2019-02-19 00:00:00'): Timestamp('2019-02-18 00:00:00'),
 Timestamp('2019-02-20 00:00:00'): Timestamp('2019-02-19 00:00:00'),
 Timestamp('2019-02-21 00:00:00'): Timestamp('2019-02-20 00:00:00'),
 Timestamp('2019-02-22 00:00:00'): Timestamp('2019-02-21 00:00:00'),
 Timestamp('2019-02-25 00:00:00'): Timestamp('2019-02-22 00:00:00'),
 Timestamp('2019-02-26 00:00:00'): Timestamp('2019-02-25 00:00:00'),
 Timestamp('2019-02-27 00:00:00'): Timestamp('2019-02-26 00:00:00'),
 Timestamp('2019-02-28 00:00:00'): Timestamp('2019-02-27 00:00:00'),
 Timestamp('2019-03-01 00:00:00'): Timestamp('2019-02-28 00:00:00'),
 Timestamp('2019-03-04 00:00:00'): Timestamp('2019-03-01 00:00:00'),
 Timestamp('2019-03-05 00:00:00'): Timestamp('2019-03-04 00:00:00'),
 Timestamp('2019-03-06 00:00:00'): Timestamp('2019-03-05 00:00:00'),
 Timestamp('2019-03-07 00:00:00'): Timestamp('2019-03-06 00:00:00'),
 Timestamp('2019-03-08 00:00:00'): Timestamp('2019-03-07 00:00:00'),
 Timestamp('2019-03-11 00:00:00'): Timestamp('2019-03-08 00:00:00'),
 Timestamp('2019-03-12 00:00:00'): Timestamp('2019-03-11 00:00:00'),
 Timestamp('2019-03-13 00:00:00'): Timestamp('2019-03-12 00:00:00'),
 Timestamp('2019-03-14 00:00:00'): Timestamp('2019-03-13 00:00:00'),
 Timestamp('2019-03-15 00:00:00'): Timestamp('2019-03-14 00:00:00'),
 Timestamp('2019-03-18 00:00:00'): Timestamp('2019-03-15 00:00:00'),
 Timestamp('2019-03-19 00:00:00'): Timestamp('2019-03-18 00:00:00'),
 Timestamp('2019-03-20 00:00:00'): Timestamp('2019-03-19 00:00:00'),
 Timestamp('2019-03-21 00:00:00'): Timestamp('2019-03-20 00:00:00'),
 Timestamp('2019-03-22 00:00:00'): Timestamp('2019-03-21 00:00:00'),
 Timestamp('2019-03-25 00:00:00'): Timestamp('2019-03-22 00:00:00'),
 Timestamp('2019-03-26 00:00:00'): Timestamp('2019-03-25 00:00:00'),
 Timestamp('2019-03-27 00:00:00'): Timestamp('2019-03-26 00:00:00'),
 Timestamp('2019-03-28 00:00:00'): Timestamp('2019-03-27 00:00:00'),
 Timestamp('2019-03-29 00:00:00'): Timestamp('2019-03-28 00:00:00'),
 Timestamp('2019-04-01 00:00:00'): Timestamp('2019-03-29 00:00:00'),
 Timestamp('2019-04-02 00:00:00'): Timestamp('2019-04-01 00:00:00'),
 Timestamp('2019-04-03 00:00:00'): Timestamp('2019-04-02 00:00:00'),
 Timestamp('2019-04-04 00:00:00'): Timestamp('2019-04-03 00:00:00'),
 Timestamp('2019-04-08 00:00:00'): Timestamp('2019-04-04 00:00:00'),
 Timestamp('2019-04-09 00:00:00'): Timestamp('2019-04-08 00:00:00'),
 Timestamp('2019-04-10 00:00:00'): Timestamp('2019-04-09 00:00:00'),
 Timestamp('2019-04-11 00:00:00'): Timestamp('2019-04-10 00:00:00'),
 Timestamp('2019-04-12 00:00:00'): Timestamp('2019-04-11 00:00:00'),
 Timestamp('2019-04-15 00:00:00'): Timestamp('2019-04-12 00:00:00'),
 Timestamp('2019-04-16 00:00:00'): Timestamp('2019-04-15 00:00:00'),
 Timestamp('2019-04-17 00:00:00'): Timestamp('2019-04-16 00:00:00'),
 Timestamp('2019-04-18 00:00:00'): Timestamp('2019-04-17 00:00:00'),
 Timestamp('2019-04-19 00:00:00'): Timestamp('2019-04-18 00:00:00'),
 Timestamp('2019-04-22 00:00:00'): Timestamp('2019-04-19 00:00:00'),
 Timestamp('2019-04-23 00:00:00'): Timestamp('2019-04-22 00:00:00'),
 Timestamp('2019-04-24 00:00:00'): Timestamp('2019-04-23 00:00:00'),
 Timestamp('2019-04-25 00:00:00'): Timestamp('2019-04-24 00:00:00'),
 Timestamp('2019-04-26 00:00:00'): Timestamp('2019-04-25 00:00:00'),
 Timestamp('2019-04-29 00:00:00'): Timestamp('2019-04-26 00:00:00'),
 Timestamp('2019-04-30 00:00:00'): Timestamp('2019-04-29 00:00:00')}

In [27]:
df_train['prev_date'] = df_train['date'].map(prev_day_dict)
df_train_copy = df_train.copy()

/tmp/ipykernel_9193/1377505720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['prev_date'] = df_train['date'].map(prev_day_dict)

In [28]:
df_train_copy

,date,sym,prevclose,open,high,low,close,volume,turnover,tradecount,af,upperlimit,lowerlimit,ttlshr,fltshr,frshr,prev_date
0,2019-01-02,000001.SZ,9.38,9.39,9.42,9.16,9.19,53938632.0,498695109.0,25140.0,108.031388,10.32,8.44,17170411366.0,17170246773.000002,7610290923.0,NaT
45,2019-01-02,000063.SZ,19.59,19.6,20.06,19.4,19.56,64968272.0,1280972083.0,59591.0,15.787475,21.55,17.63,4192671843.0,3433568341.0,2163738008.0,NaT
47,2019-01-02,000066.SZ,4.74,4.77,4.78,4.7,4.71,10054828.0,47537050.0,4761.0,10.756783,5.21,4.27,2936165560.0,2490717309.0,1723768877.0,NaT
57,2019-01-02,000100.SZ,2.45,2.46,2.53,2.45,2.51,89051427.0,222807637.0,15118.0,3.016227,2.7,2.21,13549648507.0,11723995216.0,9822696439.0,NaT
65,2019-01-02,000166.SZ,4.07,4.09,4.09,4.02,4.04,24005315.0,97250500.0,8596.0,1.414308,4.48,3.66,22535944560.0,20028119193.0,6002004945.0,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272597,2019-04-30,601939.SH,7.41,7.35,7.47,7.33,7.44,112930803.0,836065696.0,27697.0,1.693219,8.15,6.67,250010977486.0,9593657606.0,8901075830.0,2019-04-29
272605,2019-04-30,601975.SH,3.5,3.5,3.6,3.45,3.54,95074428.0,335068788.0,26289.0,1.0,3.85,3.15,5023400024.0,1898551957.0,1898551957.0,2019-04-29
272607,2019-04-30,601988.SH,3.89,3.89,3.9,3.85,3.89,120255837.0,466137513.0,20197.0,1.722526,4.28,3.5,294387791241.0,210765514846.0,20493956739.0,2019-04-29
272608,2019-04-30,601989.SH,5.53,5.53,5.73,5.51,5.67,119547707.0,673595596.0,39529.0,1.682268,6.08,4.98,22879793243.0,18361665066.0,8561075448.0,2019-04-29
273072,2019-04-30,603993.SH,4.17,4.15,4.25,4.12,4.21,69401815.0,291769895.0,23854.0,3.269446,4.59,3.75,21599240583.0,17665772583.0,7002772182.999999,2019-04-29

In [29]:
df_train

,date,sym,prevclose,open,high,low,close,volume,turnover,tradecount,af,upperlimit,lowerlimit,ttlshr,fltshr,frshr,prev_date
0,2019-01-02,000001.SZ,9.38,9.39,9.42,9.16,9.19,53938632.0,498695109.0,25140.0,108.031388,10.32,8.44,17170411366.0,17170246773.000002,7610290923.0,NaT
45,2019-01-02,000063.SZ,19.59,19.6,20.06,19.4,19.56,64968272.0,1280972083.0,59591.0,15.787475,21.55,17.63,4192671843.0,3433568341.0,2163738008.0,NaT
47,2019-01-02,000066.SZ,4.74,4.77,4.78,4.7,4.71,10054828.0,47537050.0,4761.0,10.756783,5.21,4.27,2936165560.0,2490717309.0,1723768877.0,NaT
57,2019-01-02,000100.SZ,2.45,2.46,2.53,2.45,2.51,89051427.0,222807637.0,15118.0,3.016227,2.7,2.21,13549648507.0,11723995216.0,9822696439.0,NaT
65,2019-01-02,000166.SZ,4.07,4.09,4.09,4.02,4.04,24005315.0,97250500.0,8596.0,1.414308,4.48,3.66,22535944560.0,20028119193.0,6002004945.0,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272597,2019-04-30,601939.SH,7.41,7.35,7.47,7.33,7.44,112930803.0,836065696.0,27697.0,1.693219,8.15,6.67,250010977486.0,9593657606.0,8901075830.0,2019-04-29
272605,2019-04-30,601975.SH,3.5,3.5,3.6,3.45,3.54,95074428.0,335068788.0,26289.0,1.0,3.85,3.15,5023400024.0,1898551957.0,1898551957.0,2019-04-29
272607,2019-04-30,601988.SH,3.89,3.89,3.9,3.85,3.89,120255837.0,466137513.0,20197.0,1.722526,4.28,3.5,294387791241.0,210765514846.0,20493956739.0,2019-04-29
272608,2019-04-30,601989.SH,5.53,5.53,5.73,5.51,5.67,119547707.0,673595596.0,39529.0,1.682268,6.08,4.98,22879793243.0,18361665066.0,8561075448.0,2019-04-29
273072,2019-04-30,603993.SH,4.17,4.15,4.25,4.12,4.21,69401815.0,291769895.0,23854.0,3.269446,4.59,3.75,21599240583.0,17665772583.0,7002772182.999999,2019-04-29

In [30]:
df_train = df_train.dropna() # df1
merged_df = df_train.merge(df_train_copy[['date', 'sym', 'volume']], left_on=['prev_date', 'sym'], right_on=['date', 'sym'], how='left', suffixes=('', '_prev'))
merged_df

,date,sym,prevclose,open,high,low,close,volume,turnover,tradecount,af,upperlimit,lowerlimit,ttlshr,fltshr,frshr,prev_date,date_prev,volume_prev
0,2019-01-03,000001.SZ,9.19,9.18,9.33,9.15,9.28,41553795.0,384457707.0,19151.0,108.031388,10.11,8.27,17170411366.0,17170246773.000002,7610290923.0,2019-01-02,2019-01-02,53938632.0
1,2019-01-03,000063.SZ,19.56,19.59,19.6,18.72,18.78,94860012.0,1810713994.0,97878.0,15.787475,21.52,17.6,4192671843.0,3433568341.0,2163738008.0,2019-01-02,2019-01-02,64968272.0
2,2019-01-03,000066.SZ,4.71,4.73,4.88,4.63,4.78,18648381.0,89374180.0,7102.0,10.756783,5.18,4.24,2936165560.0,2490717309.0,1723768877.0,2019-01-02,2019-01-02,10054828.0
3,2019-01-03,000100.SZ,2.51,2.51,2.53,2.49,2.53,49923933.0,125561950.0,9222.0,3.016227,2.76,2.26,13549648507.0,11723995216.0,9822696439.0,2019-01-02,2019-01-02,89051427.0
4,2019-01-03,000166.SZ,4.04,4.05,4.2,4.05,4.13,45574645.0,188723049.0,12940.0,1.414308,4.44,3.64,22535944560.0,20028119193.0,6002004945.0,2019-01-02,2019-01-02,24005315.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7655,2019-04-30,601939.SH,7.41,7.35,7.47,7.33,7.44,112930803.0,836065696.0,27697.0,1.693219,8.15,6.67,250010977486.0,9593657606.0,8901075830.0,2019-04-29,2019-04-29,117023644.0
7656,2019-04-30,601975.SH,3.5,3.5,3.6,3.45,3.54,95074428.0,335068788.0,26289.0,1.0,3.85,3.15,5023400024.0,1898551957.0,1898551957.0,2019-04-29,2019-04-29,153106450.0
7657,2019-04-30,601988.SH,3.89,3.89,3.9,3.85,3.89,120255837.0,466137513.0,20197.0,1.722526,4.28,3.5,294387791241.0,210765514846.0,20493956739.0,2019-04-29,2019-04-29,130328141.0
7658,2019-04-30,601989.SH,5.53,5.53,5.73,5.51,5.67,119547707.0,673595596.0,39529.0,1.682268,6.08,4.98,22879793243.0,18361665066.0,8561075448.0,2019-04-29,2019-04-29,154520789.0
7659,2019-04-30,603993.SH,4.17,4.15,4.25,4.12,4.21,69401815.0,291769895.0,23854.0,3.269446,4.59,3.75,21599240583.0,17665772583.0,7002772182.999999,2019-04-29,2019-04-29,117547504.0

In [58]:
result = merged_df[['date', 'sym', 'volume', 'volume_prev']].dropna()

In [61]:
result.to_csv('../train_set.csv')

In [60]:
result[result['sym']=='000001.SZ']

           date        sym       volume  volume_prev
0    2019-01-03  000001.SZ   41553795.0   53938632.0
94   2019-01-04  000001.SZ  148115906.0   41553795.0
188  2019-01-07  000001.SZ   86568766.0  148115906.0
282  2019-01-08  000001.SZ   40238811.0   86568766.0
377  2019-01-09  000001.SZ  123348636.0   40238811.0
...         ...        ...          ...          ...
7165 2019-04-24  000001.SZ  194972363.0   94068734.0
7265 2019-04-25  000001.SZ  111147637.0  194972363.0
7365 2019-04-26  000001.SZ  100942124.0  111147637.0
7465 2019-04-29  000001.SZ  103069575.0  100942124.0
7564 2019-04-30  000001.SZ  111657027.0  103069575.0

[78 rows x 4 columns]

In [64]:
type(result.iloc[0]['date'])

pandas._libs.tslibs.timestamps.Timestamp